.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
}

.form-elements {
  display: flex;
  flex-direction: column;
}

button {
  padding: 10px;
  width: 100px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}
